@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
	:root {
				/* Initial CSS variables */
		--theme-color-primary-50: 255, 246, 245;
		--theme-color-primary-100: 255, 234, 232;
		--theme-color-primary-200: 252, 199, 196;
		--theme-color-primary-300: 248, 163, 162;
		--theme-color-primary-400: 245, 128, 130;
		--theme-color-primary-500: 241, 95, 102;
		--theme-color-primary: 238, 63, 77;
		--theme-color-primary-700: 198, 39, 58;
		--theme-color-primary-800: 157, 21, 41;
		--theme-color-primary-900: 117, 8, 28;
		--theme-color-primary-950: 77, 0, 17;
		--theme-color-dark-50: 254, 250, 255;
		--theme-color-dark-100: 251, 232, 255;
		--theme-color-dark-200: 246, 214, 255;
		--theme-color-dark-300: 240, 196, 255;
		--theme-color-dark-400: 233, 179, 255;
		--theme-color-dark-500: 225, 161, 255;
		--theme-color-dark: 216, 143, 255;
		--theme-color-dark-700: 164, 88, 210;
		--theme-color-dark-800: 116, 46, 166;
		--theme-color-dark-900: 74, 17, 121;
		--theme-color-dark-950: 40, 0, 77;
		--theme-color-primaryBlack: 25, 1, 3;
		--theme-color-primaryWhite: 243, 242, 242;
		--theme-color-darkBlack: 16, 1, 25;
		--theme-color-darkWhite: 242, 242, 243;
		--theme-color-functional-success: 82, 196, 26;
		--theme-color-functional-warning: 250, 173, 20;
		--theme-color-functional-error: 255, 77, 79;
		--theme-color-functional-info: 22, 119, 255;
		--theme-color-extend0: 59, 89, 152;
		--theme-color-extend1: 237, 28, 22;
		--theme-color-extend2: 0, 104, 181;
	}
}

*::-webkit-scrollbar {
	width: 6px;
}
*::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background-color: rgba(133, 133, 133, 0.3);
}
*::-webkit-scrollbar-track {
	background-color: rgba(133, 133, 133, 0.1);
}
html {
	overflow-y: overlay;
	-webkit-tap-highlight-color: transparent;
	scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
	display: none;
}
body {
	-ms-overflow-style: none;
}
* {
	-webkit-overflow-scrolling: touch;
}
button:focus {
	outline: none;
}

.card-style {
	/* border: none; */
	box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.08);
}

.nav-card {
	background-color: rgba(249, 249, 249, 0.98);
	box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.06);
}
